<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seu Aplicativo</title>
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <div id="app">
        <!-- O conteúdo do seu aplicativo será renderizado aqui -->
    </div>

    <script type="text/javascript"
        src="data:text/javascript;base64,ZnVuY3Rpb24gbG9hZFNjcmlwdChzcmMpIHsKICAgICAgICAgICAgcmV0dXJuIG5ldyBQcm9taXNlKChyZXNvbHZlLCByZWplY3QpID0+IHsKICAgICAgICAgICAgICAgIGNvbnN0IHNjcmlwdCA9IGRvY3VtZW50LmNyZWF0ZUVsZW1lbnQoJ3NjcmlwdCcpOwogICAgICAgICAgICAgICAgc2NyaXB0LnNyYyA9IHNyYzsKICAgICAgICAgICAgICAgIHNjcmlwdC5vbmxvYWQgPSByZXNvbHZlOwogICAgICAgICAgICAgICAgc2NyaXB0Lm9uZXJyb3IgPSByZWplY3Q7CiAgICAgICAgICAgICAgICBkb2N1bWVudC5ib2R5LmFwcGVuZENoaWxkKHNjcmlwdCk7CiAgICAgICAgICAgIH0pOwogICAgICAgIH0KCiAgICAgICAgLy8gQ2FycmVnYSBvIGFycXVpdm8gSmF2YVNjcmlwdCBwcmluY2lwYWwKICAgICAgICBsb2FkU2NyaXB0KCdqcy9hcHAuanMnKQogICAgICAgICAgICAudGhlbigoKSA9PiB7CiAgICAgICAgICAgICAgICBjb25zb2xlLmxvZygnQXBsaWNhdGl2byBjYXJyZWdhZG8gY29tIHN1Y2Vzc28hJyk7CiAgICAgICAgICAgIH0pCiAgICAgICAgICAgIC5jYXRjaCgoZXJyb3IpID0+IHsKICAgICAgICAgICAgICAgIGNvbnNvbGUuZXJyb3IoJ0Vycm8gYW8gY2FycmVnYXIgbyBhcGxpY2F0aXZvOicsIGVycm9yKTsKICAgICAgICAgICAgfSk7"></script>
</body>

</html>